*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 8px;
  gap: 2px
}

body{
  color: green;
  background-color: bisque;
}

.register {
  padding: 16px;
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(4fr , 1);
  gap: 16px;
}
form{
    padding: 16px;
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(4fr , 1);
  gap: 16px
}

h1{
  text-align: center;
}
article{
  display: flex;
  gap : 12px;
 flex-direction: column;
}

